.list-hd .back-btn{
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 150px;
  height: 100%;
  font-size: 36px;
  text-align: center;
}

.round-btn .lk-block.status-btn {
  bottom: 30px;
  background: orange url('../img/play.png') no-repeat  11px 8px/80% 80%;
  border-radius: 35px;
}

.round-btn .lk-block.status-btn.pause {
  background-color: orange;
  background-image: url('../img/pause.png');
  background-position:  7px 7px;
  background-size: 80% 80%;
}

.rd-content {
  padding-top: 44px;
  padding-left: 15px;
  text-indent: 15px;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 3px;
  word-spacing: 5px;
}